*{
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(30, 38%, 92%);
    padding: 1em;
}

.product-card{
    display: flex;
    max-width: 675px;
    justify-content: center;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
}

.picture{
    width: 50%;
    background-image : url('./images/image-product-desktop.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.product-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    padding: 2em;
    gap: 1em;
}

.product-category{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: hsl(228, 12%, 48%);
    font-size: 14px;
}

.product-name{
    font-family : 'Fraunces', sans-serif;
    font-size: 35px;
    color: hsl(212, 21%, 14%);
}

.product-description{
    font-size: 14px;
    color:hsl(228, 12%, 48%);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 2;
}

.price{
    display: flex;
    align-items: center;
}

.discounted-price{
    font-size: 32px;
    font-family : 'Fraunces', sans-serif;
    color: hsl(158, 36%, 37%);
    font-weight: 700;
    margin-right: 1em;
}

.original-price{
    font-size: 14px;
    color:hsl(228, 12%, 48%);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-decoration: line-through;
}

.cart-button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color:hsl(0, 0%, 100%);
    background-color:hsl(158, 36%, 37%);
    border-radius: 9px;
    text-align: center;
    padding: 1.4em 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    transition: 0.5s;
}

.cart-button img{
    margin-right: 0.5em;
}

.cart-button:hover, .cart-button:focus{
    background-color: #1A4031;
}


@media screen and (max-width : 600px){

    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: hsl(30, 38%, 92%);
        padding: 1em;
        height: auto;
    }

    .product-card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 90%;
        height: auto;
        background-color: hsl(0, 0%, 100%);
        border-radius: 10px;
    }
    .picture{
        width: 100%;
        height: 250px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
        background-image: url('./images/image-product-mobile.jpg');
    }

    .product-info{
        width: 100%;
    }

    .price{
        margin-top: 2em;
    }
}